services:
  postgres:
    image: postgres:16
    restart: always
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: codeventure
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  
volumes:
  postgres_data:
  redis_data: