services:
  db:
    image: postgres:16
    restart: always
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: codeventure
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: