services:
  postgres:
    image: postgres:16
    restart: always
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: codeventure
      shared_buffers: 2GB
      effective_cache_size: 6GB
      work_mem: 16MB
      maintenance_work_mem: 512MB
      max_connections: 100
      wal_buffers: 16MB
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d codeventure"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      DB_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/codeventure
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8000:8000"
    command: sh -c "uv run alembic upgrade head && uv run uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 2 --loop uvloop --http httptools --limit-concurrency 2000 --backlog 2048 --timeout-keep-alive 2"
    volumes:
      - .:/app
      - /app/.venv

  worker:
    build: .
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    environment:
      DB_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/codeventure
      REDIS_HOST: redis
      REDIS_PORT: 6379
    command: uv run taskiq worker app.core.taskiq:broker
    volumes:
      - .:/app
      - /app/.venv

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

volumes:
  postgres_data:
  redis_data:
  prometheus_data:
  grafana_data:
