services:
  postgres:
    image: postgres:16
    restart: always
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: codeventure
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d codeventure"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      DB_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/codeventure
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8000:8000"
    command: sh -c "uv run alembic upgrade head && uv run uvicorn app.main:app --host 0.0.0.0 --port 8000"
    volumes:
      - .:/app
      - /app/.venv

  worker:
    build: .
    env_file:
      - .env
    depends_on:
      redis:
        condition: service_healthy
      postgres:
        condition: service_healthy
    environment:
      DB_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/codeventure
      REDIS_HOST: redis
      REDIS_PORT: 6379
    command: uv run taskiq worker app.core.taskiq:broker
    volumes:
      - .:/app
      - /app/.venv

volumes:
  postgres_data:
  redis_data:
